- title 'Leiden 2.0', true

%p O el diario de viajes de mi segunda aventura en Leiden, Holanda.

- if @post
  = render :partial => 'posts/post', :object => @post

%p.center= link_to "Ver todas las entradas", posts_path
