- title "Mis andanzas"

- if logged_in?
  %p= link_to "Nueva", new_post_path

.posts
- @posts.each do |post|
  = render :partial => 'post', :object => post

- if logged_in?
  %p= link_to "Nueva", new_post_path
